-if user.projects.present?  
  .api-box.col-lg-4
    .api-product-title
      %a{:href => "https://github.com/aspose-words"}
        %i.api-words-ico.api-ico  
      %div
        %a{:href => user_url(user)}
          %h2 #{user.name}
          %span{style: 'width:225px;' } Product Family
    %ul
      - user.projects.each do |project|
        %li
          %a{:href => "#{project_path(project)}"} #{project.name}
